* {
  font-family: "Afacad Flux", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  height: 90px;
  width: 90px;
}

.logo__img {
  width: 100%;
  transform: scale(1.1);
}

.nav__links {
  display: flex;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}

.fa-leaf {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-120%, -30%);
}

.nav__link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #35384b;
}

.nav__link a:hover {
  color: rgb(10, 158, 10);
}

.link__underline {
  position: absolute;
  height: 2px;
  width: 0;
  background-color: transparent;
  transition: all ease 200ms;
}

.nav__link a:hover + .link__underline {
  width: 100%;
  background-color: rgb(10, 158, 10);
}

.nav__link i {
  opacity: 0;
  transition: opacity 0.5s ease, color 0.5s ease; /* Smooth transition */
}

.nav__link a:hover + i {
  opacity: 1;
  color: green; /* You can change this to any color you want */
}