* {
  font-family: "Afacad Flux", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.logo__wrapper {
  height: 90px;
  width: 100%;
  max-width: 90px;
}

.logo__img {
  width: 100%;
  transform: scale(1.1);
}

.nav__links {
  position: relative;
  display: flex;
  list-style-type: none;
  max-width: 850px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
  margin-left: 12px;
  margin-right: 16px;
}

.fa-leaf {
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-110%, -20%);
  margin-right: 8px;
}

.analyze__link {
  background-color: #485de6;
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 3px 0.5px gray;
  border: 2px solid transparent;
  transition: background-color 400ms ease, border 400ms ease;
  margin-right: 12px;
}

.analyze__link:hover {
  background-color: #f46036;
  background-image: linear-gradient(
    90deg,
    #ce4343,
    #cda24d,
    #d0c832,
    #83cd03,
    #31cd02
  );
  cursor: pointer;
  border: 2px solid rgb(240, 240, 240);
  transition: all ease 200ms;
}

.nav__link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #35384b;
}

.nav__link a:hover {
  color: rgb(10, 158, 10);
}

.nav__link .fa-leaf {
  color: transparent;
  transition: opacity 0.2s ease, color 0.2s ease; /* Smooth transition */
}

.nav__link a:hover .fa-leaf {
  color: rgb(10, 158, 10);
}

.analyze__area {
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
}

.analyze__link:hover .analyze__area {
  color: white;
}

#header__mosaics {
  margin: 50px 0;
}

.mosaics__container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 300px;
}

.mosaic1,
.mosaic2 {
  display: flex;
  flex-direction: column;
}

.mosaic1__square1--rows {
  width: 100%;
  height: 50%;
  background-color: #11d311;
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  transition: all ease 150ms;
}

.mosaic1__squares--wrapper {
  display: flex;
  height: 50%;
  margin-top: 4px;
}

.mosaic1__square2--rows {
  width: 50%;
  height: 100%;
  background-color: #ff1613;
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  overflow: hidden;
  margin-right: 2px;
  transition: all ease 150ms;
}

.mosaic1__square3--rows {
  width: 50%;
  height: 100%;
  background-color: #d6ed08;
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  overflow: hidden;
  margin-left: 2px;
  transition: all ease 150ms;
}

.mosaic2__squares--wrapper {
  display: flex;
  height: 100%;
}

.mosaic2__square2--rows {
  margin-right: 2px;
  width: 50%;
  background-color: rgb(7, 146, 37);
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  transition: all ease 150ms;
}

.mosaic2__square3--rows {
  margin-left: 2px;
  width: 50%;
  background-color: rgb(117, 226, 16);
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  transition: all ease 150ms;
}

.mosaic2__squares--row1,
.mosaic2__squares--row2 {
  height: calc(100% / 40);
  width: 100%;
  display: flex;
}

.mosaic3 {
  width: calc(100% / 4);
  margin: 6px 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  transition: opacity ease-in 10ms, opacity ease-out 900ms;
  padding: 4px;
}

.mosaic3__wrapper {
  height: 100%;
  width: 100%;
  margin-right: 2px;
  width: 100%;
  background-color: rgb(199, 152, 65);
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  transition: all ease 150ms;
  overflow: hidden;
  display: flex;
}

.mosaic3__column {
  width: calc(100% / 40);
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mosaic3__square {
  width: 100%;
  height: calc(100% / 40);
  background-color: transparent;
  border-radius: 2px;
  transition: background-color ease-in 10ms, background-color ease-out 800ms;
}

.crop__lane--square {
  width: 100%;
  height: calc(100% / 40);
  border-radius: 2px;
  transition: background-color ease-in 10ms, background-color ease-out 800ms;
  background-color: rgb(119, 226, 18);
}

.crop__lane--square:hover {
  transform: scale(1.5);
  background-color: rgb(124, 93, 8);
  border-radius: 2px;
  transition: background-color ease-in 10ms;
}

.tomato__square {
  width: 100%;
  height: calc(100% / 40);
  border-radius: 2px;
  transition: filter ease-in 10ms, filter ease-out 800ms;
  background-color: rgb(194, 3, 3);
}

.carrot__square {
  width: 100%;
  height: calc(100% / 40);
  border-radius: 2px;
  transition: filter ease-in 10ms, filter ease-out 800ms;
  background-color: rgb(207, 137, 6);
}

.watermelon__square {
  width: 100%;
  height: calc(100% / 40);
  border-radius: 2px;
  transition: filter ease-in 10ms, filter ease-out 800ms;
  background-color: rgb(25, 82, 3);
}

.strawberry__square {
  width: 100%;
  height: calc(100% / 40);
  border-radius: 2px;
  transition: filter ease-in 10ms, filter ease-out 800ms;
  background-color: rgb(194, 4, 52);
}

.tomato__square:hover,
.carrot__square:hover,
.watermelon__square:hover,
.strawberry__square :hover {
  transform: scale(1.5);
  filter: brightness(160%);
  transition: filter ease-in 10ms;
}

.mosaic3__square:hover,
.mosaic4__square:hover {
  transform: scale(1.5);
  background-color: white;
  transition: background-color ease-in 10ms;
}

.mosaic4__wrapper {
  height: 100%;
  width: 100%;
  margin-right: 2px;
  width: 100%;
  background: linear-gradient();
  border-radius: 10px;
  border: 3.5px solid rgb(240, 240, 240);
  transition: all ease 150ms;
  overflow: hidden;
  display: flex;
  background-color: #485de6;
}

.mosaic4__column {
  width: calc(100% / 40);
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mosaic4__square {
  width: 100%;
  height: calc(100% / 40);
  background-color: transparent;
  border-radius: 2px;
  transition: background-color ease-in 10ms, background-color ease-out 800ms;
}

.mosaic1,
.mosaic2,
.mosaic4 {
  width: calc(100% / 4);
  margin: 6px 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  transition: opacity ease-in 10ms, opacity ease-out 900ms;
  padding: 4px;
}

.mosaic1__square1--rows:hover,
.mosaic1__square2--rows:hover,
.mosaic1__square3--rows:hover,
.mosaic2__square2--rows:hover,
.mosaic2__square3--rows:hover,
.mosaic3__wrapper:hover,
.mosaic4__wrapper:hover {
  filter: brightness(105%);
  transition: filter ease-in 10ms;
  border: 3.5px solid rgb(214, 183, 115);
}

.squares__row1 {
  display: flex;
  width: 100%;
  height: 5%;
}
.mosaic1__squares--row2,
.mosaic1__squares--row3 {
  display: flex;
  width: 100%;
  height: 5%;
}
.squares__row3 {
  display: flex;
  width: 100%;
  height: 2.5%;
}
.squares__row4 {
  display: flex;
  width: 100%;
  height: 2.5%;
}

.square {
  background-color: transparent;
  height: 100%;
  width: calc(100% / 40);
  border-radius: 2px;
  transition: background-color ease-in 10ms, background-color ease-out 800ms;
}

.mosaic1__square2--square,
.mosaic1__square3--square,
.mosaic2__square2--square,
.mosaic2__square3--square {
  background-color: transparent;
  height: 100%;
  width: calc(100% / 20);
  border-radius: 2px;
  transition: background-color ease-in 10ms, background-color ease-out 800ms;
}

.square:hover,
.mosaic1__square2--square:hover,
.mosaic1__square3--square:hover,
.mosaic2__square2--square:hover,
.mosaic2__square3--square:hover {
  transform: scale(1.5);
  background-color: white;
  transition: background-color ease-in 10ms;
}
